*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #362e60;
   
}


.wrapper
{
 width: 606px;
 background: white;
 border-radius: 6px;
 padding: 25px;
}


.wrapper header
{
 text-align: center;
 font-size: 34px;
 font-weight: 600;
}


.wrapper .content
{
    margin: 35px 0px;
}

.content .quote_area
{
    display: flex;
    justify-content: center;
}



.quote_area i:first-child{
    margin: 3px 10px 0 0;
}

.quote_area i:last-child{
    margin: 0 0 10px 3px;
    display: flex;
    align-items: flex-end;
}

.quote_area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;

}
.content .author
{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
      
}
.author span:first-child
{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons
{
    border-top: 1px solid gray;
}
.buttons .features
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
      margin: 12px;
      border: 1px solid #362e60;
      border-radius: 50%;
      padding: 10px;
      justify-content: center;
      align-items: center;
      color: #362e60;
      display: flex;
      cursor: pointer;
}
.features ul li:hover{
    color: white ;
    background: #362e60;
}
.features button
{
    border: none;
    background-color: #362e60;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.features button:hover
{
    background: #433975;
}